/*CSS DO INVESTIMENTO FIXO*/


body{
    background: rgba(21, 25, 41, 1);

}


/*
*/

.navbar-brand img {
    max-width: 150px; /* Ajuste o tamanho máximo conforme necessário */
    width: 100%; /* A imagem ocupará toda a largura do elemento pai */
}