body {
    background: rgb(7, 16, 53);
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.label {
    position: absolute;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.input {
    position: absolute;
    background: rgba(21, 25, 41, 1);
    color: white;
}

#titulo {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    left: 100px;
    color: white;
    padding: 10px;
}

#nomeLabel {
    width: 125px;
    height: 15px;
    top: 107px;
    left: 65px;
}

#nomeInput {
    width: 288px;
    height: 33px;
    top: 133px;
    left: 65px;
}

#cpfLabel {
    width: 172px;
    height: 17px;
    top: 107px;
    left: 395px;
}

#cpfInput {
    width: 287px;
    height: 33px;
    top: 133px;
    left: 395px;
}

#bairroLabel {
    width: 104px;
    height: 15px;
    top: 107px;
    left: 724px;
}

#bairroInput {
    width: 288px;
    height: 33px;
    top: 133px;
    left: 724px;
}

#ruaLabel {
    width: 172px;
    height: 17px;
    top: 201px;
    left: 65px;
}

#ruaInput {
    width: 288px;
    height: 33px;
    top: 227px;
    left: 65px;
}

#complementoLabel {
    width: 178px;
    height: 15px;
    top: 201px;
    left: 395px;
}

#complementoInput {
    width: 287px;
    height: 33px;
    top: 227px;
    left: 395px;
}

#cidadeLabel {
    width: 172px;
    height: 17px;
    top: 201px;
    left: 724px;
}

#cidadeInput {
    width: 288px;
    height: 33px;
    top: 227px;
    left: 724px;
}

#estadoLabel {
    width: 179px;
    height: 15px;
    top: 295px;
    left: 65px;
}

#estadoInput {
    width: 288px;
    height: 33px;
    top: 321px;
    left: 65px;
}

#telefoneLabel {
    width: 172px;
    height: 17px;
    top: 295px;
    left: 395px;
}

#telefoneInput {
    width: 287px;
    height: 33px;
    top: 321px;
    left: 395px;
}

#capitalLabel {
    width: 172px;
    height: 17px;
    top: 291px;
    left: 724px;
}

#capitalInput {
    width: 288px;
    height: 33px;
    top: 317px;
    left: 724px;
}

#curriculoLabel {
    width: 172px;
    height: 17px;
    top: 389px;
    left: 65px;
}

#curriculoInput {
    width: 948px;
    height: 131px;
    top: 417px;
    left: 65px;
}

#salvarButton {
    width: 98.44px;
    height: 22px;
    top: 580px;
    left: 914.56px;
    border-radius: 30px;
    color: white;
}
