
.logo {
    width: 282px;
    height: 9222px;
    background: rgba(28, 36, 56, 1)
}
.usuario{
    width: 80px;
    height: 27px;
    top: 217px;
    left: 101px

}
.logo img {
    width: 100%;
    height: auto;
    background: rgba(21, 25, 41, 1)

}
.geral{
    width: 192px;
    height: 290px;
    top: 273px;
    left: 45px;
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    background: linear-gradient(0deg, #7B7B7B, #7B7B7B),
linear-gradient(0deg, #FFFFFF, #FFFFFF);
}
/* styles.css */
.elipse {
    width: 167px;
    height: 167px;
    top: 80px; /* Aumentei o valor para mover a imagem para baixo */
    left: 57px;
}
.header {
    background: rgba(28, 36, 56, 1);
    color: #fff;
    padding: 10px 0;
    margin-left: 60px;
}

.perfil-icon img,
.ferramenta-icon img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.quadrado {
    width: 289px;
    height: 203px;
    position: absolute;
    top: 122px;
    left: 347px;
    background: rgba(255, 255, 255, 1);
}

.nome-empresa {
    width: 220px;
    height: 32px;
    position: absolute;
    top: 124px;
    left: 681px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    background: rgba(255, 255, 255, 1);
}

.setor-atividade {
    width: 289px;
    height: 33px;
    position: absolute;
    top: 270px;
    left: 681px;
}

/* Estilo para a tag CNPJ/CPF */
.cnpj-cpf {
    width: 220px;
    height: 32px;
    position: absolute;
    top: 121px;
    left: 1031px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

/* Estilo para o input do CNPJ/CPF */
.cnpj-cpf-input {
    width: 289px;
    height: 33px;
    position: absolute;
    top: 157px;
    left: 1031px;
}